@charset "utf-8";
/* CSS Document */

@import url("default.css");

body {
	background-repeat:no-repeat;
	background-image:url(../images/alt1.jpg);
	text-align:center;
}

#maincontainer {
	margin: 0 auto;
	text-align:left;
}
